*.pyc
*.sqlite3
db.sqlite3
db.sqlite3
settings.py
media/customer_imgs/153555.jpg
media/customer_imgs/153555.jpg
media/customer_imgs/hQy0w11U.png
media/customer_imgs/priyanka_chopra_bollywood_2017-1920x1080.jpg
media/documents/hQy0w11U.png
media/documents/image.JPG
media/documents/news.jpeg
media/customer_imgs/45819860_1755970601180549_3627716909358645248_n.jpg
media/documents/news_qWulxBh.jpeg
media/avatar-7.jpg
.gitignore
media/customer_imgs/115480_Yi4GExK.jpg
media/customer_imgs/5658604-smiley-wallpaper_afmLVDp.jpg
media/customer_imgs/790073.jpg
media/customer_imgs/apple_focus_colors-1680x1050.jpg
media/customer_imgs/5658604-smiley-wallpaper_qMf63y6.jpg
media/customer_imgs/5658604-smiley-wallpaper_ArM3RgE.jpg
media/customer_imgs/5658604-smiley-wallpaper.jpg
main/migrations/
migrations/
media/